@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #e5e5e5;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: black;
  color: var(--primary);
  height: 100%;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  padding: 0 50px;
  justify-content: center;
}

.no-cursor {
  cursor: not-allowed !important;
}

/* Login */
.login {
  height: 100vh;
  padding: 20px 50px;
}
.login__logo {
  width: 150px;
}

.login-form {
  width: 100%;
  max-width: 450px;
  background: rgba(40, 39, 39, 0.246);
  border-radius: 4px;
  padding: 60px;
  margin: auto;
  margin-top: 50px;
  box-shadow: #b3b3b3 0px 0px 5px 0px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.login-form-heading {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 28px;
  text-align: center;
}

.login-form input {
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
  margin: 12px 0;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 300;
  transition: 600ms ease;
}

.login-form input::placeholder {
  font-size: 16px;
  font-weight: 300;
}

.login-form input:focus {
  outline: none;
  transform: scale(1);
  box-shadow: 0 0 8px white;
}

.login-form-btn {
  width: 100%;
  border: none;
  outline: none;
  padding: 16px;
  background-color: rgb(178 7 16);
  color: white;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.form-switch {
  margin-top: 30px;
  color: #737373;
}

.form-switch span {
  margin-left: 6px;
  color: white;
  font-weight: 500;
  cursor: not-allowed !important;
}

.error-message{
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

/* Navbar */

.navbar {
  width: 100%;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  color: var(--primary);
  font-size: 14px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  z-index: 9999;
  top: 0;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: #191919 !important;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav__logo {
  width: 150px;
  cursor: pointer;
}

.nav__menu-links {
  display: flex;
  gap: 50px;
}

.nav__menu-link {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.nav__menu-link span {
  margin-right: 5px;
}

.nav__menu-link:hover {
  color: #b3b3b3;
  transition: 300ms;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav__profile {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.circle {
  background-color: rgb(178 7 16);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.circle__inital {
  color: var(--primary);
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.nav__down {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background-color: rgba(9, 9, 10, 0.862);
  padding: 16px 22px;
  border-radius: 4px;
  z-index: 2;
  opacity: 0;
}

.dropdown__text {
  font-size: 13px;
  cursor: pointer;
}

.dropdown__text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--primary);
  margin: 2px 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
}

.dropdown__text:hover::after {
  transform: scaleX(1);
}

.nav__profile:hover .dropdown {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.login-logo{
  width: 50px;
  border-radius: 2px;
}

/* Sidebar */

.nav-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  display: none;
}

.sidebar-link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar-link span {
  cursor: pointer;
}

.sidebar-dropdown {
  position: absolute;
  top: 100%;
  width: max-content;
  background-color: rgba(9, 9, 10, 0.862);
  padding: 16px 22px;
  border-radius: 4px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
}

.sidebar-dropdown-text span {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  position: relative;
  color: var(--primary);
}

.sidebar-dropdown-text span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--primary);
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.sidebar-dropdown-text span:hover::after {
  transform: scaleX(1);
}

.nav-sidebar:hover .sidebar-dropdown {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  pointer-events: auto;
}

/* Header */

.homepage-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 50px;
  color: var(--primary);
  width: 100%;
  transform: translateX(-50%);
  animation: spinner 1s linear infinite;
  z-index: 9999;
}

@keyframes homepage-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header__img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  opacity: 0.3;
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.hero {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  line-height: 1.2;
}

.home-text__heading {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 16px;
}

.home-text__subheading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 32px;
}

.home__input--wrapper {
  position: relative;
}

.home__input {
  padding: 24px 60px 24px 30px;
  border: 1px solid rgba(245, 245, 245, 0.8);
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  border-radius: 40px;
  transition: 400ms ease;
  max-width: 100%;
  text-align: center;
}

.home__input:focus,
.home__input:active {
  outline: none;
  transform: scale(1.1);
  box-shadow: 0 0 8px white;
}

/* Trending */

.trending {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.movies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.movie {
  width: 200px;
  margin: 20px 8px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px 2px #fcfbfb38;
  background-color: transparent;
  position: relative;
}

.movie__img-wrapper {
  width: 100%;
  max-height: 300px;
  display: flex;
  overflow: hidden;
}

.movie__img {
  width: 100%;
  height: 296px;
  transition: 600ms ease;
  object-fit: cover;
  object-position: center;
}

.movie__img-wrapper:hover .movie__img {
  filter: opacity(70%) blur(2px) brightness(60%);
  transform: scale(1.06);
}

.movie__info-title {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 18px;
  width: 100%;
  padding: 4px 8px;
  opacity: 0;
  transition: 400ms ease;
}

.movie__info-list {
  position: absolute;
  top: 50%;
  left: 8px;
  width: 90%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 14px;
  opacity: 0;
  transition: 400ms ease;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.movie__img-wrapper:hover .movie__info-title,
.movie__img-wrapper:hover .movie__info-list,
.movie__img-wrapper:hover .movie__info-btn {
  opacity: 1;
}

.movie__info-btn {
  position: absolute;
  bottom: 24px;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgb(178 7 16);
  color: white;
  font-size: 12px;
  padding: 6px 20px;
  border-radius: 999px;
  white-space: nowrap;
  border: none;
  opacity: 0;
}

.home__input-search {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 24px;
  color: rgba(159, 158, 158, 0.815);
  cursor: pointer;
  transition: 400ms ease;
}
/* Footer */
.footer {
  max-width: 100%;
  margin: 0 auto 20px;
  padding: 20px 100px;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
  padding: 0 50px;
  margin-bottom: 10px;
}

.footer__img {
  width: 40px;
}

.social {
  display: flex;
  gap: 16px;
}

.footer__social {
  font-size: 32px;
  color: white;
}

/* Movie Page */
.moviespage-movies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 150px;
  position: relative;
}

.moviepage-search {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.moviepage-search input {
  width: 300px;
  height: 40px;
  background-color: #333;
  color: white;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 25px 16px;
  font-size: 16px;
  font-weight: 300;
  transition: 600ms ease;
}

.moviepage-search-input input:focus {
  outline: none;
  transform: scale(1);
  box-shadow: 0 0 8px white;
}

.moviepage-search input::placeholder {
  font-size: 14px;
  font-weight: 300;
}

.moviepage-search button {
  height: 40px;
  background-color: rgb(178, 7, 16);
  color: white;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 25px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.moviespage__movies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.movies1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.search-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
}

.search-img {
  max-width: 300px;
  width: 100%;
}

.search-img-text {
  font-size: 30px;
  font-weight: 500;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  transform: translateX(-50%);
  animation: spinner 1s linear infinite;
  font-size: 50px;
  z-index: 9999;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Movie Info Page */

.movies__main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.moviesinfo__container {
  padding: 100px 50px;
  flex-direction: column;
}

.movieinfo {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 30px;
  justify-content: center;
}

.movieinfo-img {
  margin-right: 40px;
}

.movieinfo h1 {
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 8px;
}

.movieinfo-info {
  display: flex;
  gap: 40px;
  margin-bottom: 12px;
}

.movieinfo h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.movieinfo-info-para {
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 26px;
  margin-bottom: 14px;
  width: 80%;
}

.movieinfo-info-span {
  display: flex;
  gap: 8px;
}

.movieinfo-text {
  flex: 1;
}

.movieinfo-img-wrapper {
  flex-shrink: 0;
}
.movieinfo-btn {
  padding: 8px 20px;
  border-radius: 2px;
  border: none;
  background-color: rgba(229, 9, 20);
  color: var(--primary);
  font-weight: 500;
}

.movieinfo-recommend-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.movieinfo-recommend h1 {
  font-size: 24px;
  font-weight: 600;
}
.skeleton {
  background-color: #dddbdd;
  color: #dddbdd;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.2) 50%,
    hsla(0, 0%, 100%, 0.5) 60%,
    hsla(0, 0%, 100%, 0)
  );
  animation: shimmer 1.2s infinite;
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton {
  border-radius: 4px;
}

.skeleton-img {
  width: 300px;
  height: 450px;
}

.skeleton-title {
  width: 60%;
  height: 60px;
  margin: 16px 0;
}

.skeleton-info-span {
  width: 20%;
  height: 40px;
}

.skeleton-para-title {
  width: 150px;
  height: 40px;
  margin: 20px 0 8px;
}

.skeleton-para {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
}

.skeleton-btn {
  width: 120px;
  height: 40px;
  border-radius: 4px;
}

.skeleton-recommend-title {
  width: 20%;
  height: 60px;
  margin: 16px 0;
}
.skeleton-movie {
  width: 200px;
  height: 300px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .nav__menu-link {
    font-size: 12px;
  }

  .home-text__heading {
    font-size: 40px;
  }

  .home-text__subheading {
    font-size: 16px;
  }

  .home__input {
    padding: 14px 40px 14px 20px;
    font-size: 16px;
  }
  .movie {
    width: 180px;
    margin: 20px 8px;
    border-radius: 4px;
  }

  .movie__img {
    width: 100%;
    height: 100%;
    transition: 600ms ease;
    object-fit: cover;
    object-position: center;
  }

  .search-img {
    max-width: 250px;
    width: 100%;
  }

  .search-img-text {
    font-size: 26px;
    font-weight: 500;
  }

  .movieinfo{
    align-items: center;
  }

  .movieinfo h1{
    font-size: 40px;
  }

  .movieinfo-info {
    gap: 20px;
  }

  .movieinfo-info-span{
    font-size: 14px;
  }
  .moiveinfo-para-title{
    font-size: 16px;
  }

  .movieinfo-info-para{
    font-size: 12px;
    width: 100%;
  }

  .movieinfo-img{
    width: 250px;
  }
}

@media (max-width: 900px) {
  .nav__menu-links {
    display: none;
  }

  .nav-sidebar {
    display: block;
  }

  .movieinfo h1  {
    font-size: 36px;
}

.movieinfo-recommend-list {
gap: 8px;  
}

}

@media (max-width: 768px) {
  .nav__logo {
    width: 120px;
  }

  .movie {
    width: 150px;
  }

  .sidebar-dropdown-text {
    font-size: 19px;
  }

  .sidebar-link {
    font-size: 10px;
  }
  .nav-sidebar .sidebar-dropdown-text span {
    font-size: 12px !important;
  }

  .sidebar-dropdown-text span {
    font-size: 14px;
  }
  .movieinfo h1  {
    font-size: 28px;
}

.movieinfo-info-span{
  font-size: 10px;
}

.movieinfo-info{
  gap: 12px;
}

}

@media (max-width: 500px) {
  .moviepage-search input {
    width: 250px;
    font-size: 12px;
  }

  .search-img-text {
    font-size: 20px;
  }

  .movieinfo-img {
    width: 220px;
    margin-right: 0;
}


.movieinfo {
  flex-direction: column;
}

.movieinfo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieinfo-info-para {
  text-align: center;
}

.movieinfo-recommend h1{
  text-align: center;
}

.skeleton-img{
  width: 220px;
  height: 320px;
}

.skeleton-title{
  width: 150px;
  margin: 5px 0;
}

.skeleton-info-span {
  width: 100px;
  height: 40px;
  margin-top: 10px;
}

.skeleton-para-title{
  margin-bottom: 20px;
}

.skeleton-para {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}
.moviesinfo-recommend{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skeleton-recommend-title {
  width: 150px;
  height: 40px;
}

.skeleton-movie {
  width: 150px;
  height: 220px;
  margin-bottom: 10px;
}
}

@media (max-width: 425px) {
  .nav__logo {
    width: 100px;
  }

  .circle {
    width: 36px;
    height: 36px;
  }

  .circle__inital {
    font-size: 16px;
  }

  .home-text__heading {
    font-size: 32px;
  }

  .home-text__subheading {
    font-size: 12px;
  }

  .home__input {
    font-size: 12px;
  }

  .movie {
    width: 100px;
  }

  .dropdown__text {
    font-size: 10px;
  }

  .moviepage-search button {
    height: 20px;
    padding: 25px 20px;
    font-size: 12px;
  }

  .search-img-text{
    font-size: 14px;
  }
  .spinner{
    font-size: 30px;
  }

  .moviepage-search-input{
  font-size: 12px;
  }

  .movieinfo-info {
    gap: 10px;
}

.movieinfo-info-span {
  font-size: 8px;
}
.movieinfo h3{
  font-size: 16px;
}

.movieinfo-info-para {
  font-size: 10px;
  line-height: 20px;
}
}

@media (max-width: 375px){
  .movieinfo-info-span {
  align-items: center;
  }

  .skeleton-movie {
    width: 120px;
    height: 190px;
    margin-bottom: 10px;
}
}
